
@{
    ViewBag.Title = "quanLyKho";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>quanLyKho</h2>
@model List<MongoWeb.Models.Products>

<h2>Danh sách sản phẩm</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Mô tả</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
            </tr>
        }
    </tbody>
</table>

